[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypi"

[packages]
grpcio-tools = "1.37.0"

[dev-packages]
redis = "*"
ipykernel = "*"

[requires]
python_version = "3.6"
